@import url("http://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  width: 120px;
  height: 40px;
  font-size: 1.1em;
  background: none;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
}

.btn::before,
.btn::after {
  content: "";
}
